# VS / VSCode
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
env/
env1/
.venv/
venv/
ENV/
include/
Lib/
Scripts/

# Torch 
*.pt
*.pth
*.pkl
*.dll
*.so
*.dylib
*.zip

# Images
*.png

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
desktop.ini
