# VS
.vs/
*.db
*.db-shm
*.db-wal
*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Python virtual environment
env/
env1/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore torch and model binaries
*.pt
*.pth
*.dll
*.so
*.dylib
*.zip

# Ignore notebooks autosaves, cache
.ipynb_checkpoints/
